body {
    background: rgb(151, 234, 245);
    color: rgb(63, 158, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    padding: 0;
}
/* HEADER */

header {
    height: 200px;
    padding: 20px;
}

h1 {
    background-color: rgb(47, 179, 240);
    color: white;
    border-radius: 50px 20px 50px 20px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    text-align: center;
    font-size: 80px;
}

@media screen and (max-width: 625px) {
    h1 {
        font-size: 50px;
        height: 67px;
    }
}

ul {
    list-style-type: none;
}

nav ul {
    text-align: left;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    padding: 2px;
}

header a {
    color: rgb(47, 179, 240);
    text-decoration: none;
}

a:hover {
    color: green;
}

/* SCOREBOARD */

.scoreboard {
    display: flex;
}

.scoreboard div {
    display: inline-block;
    font-size: 300px;
    margin: auto;
    text-align: center;
}

.buttons {
    border: circle;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    display: flex;
}

.buttons div {
    display: inline-block;
    margin: auto;
    text-align: center;
}

.buttons div button {
    border-radius: 5px;
    margin: 5px;
    height: auto;
    width: auto;
    font-size: 25px;
}

/* SPORTS */

.sports ul {
    height: 200px;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    display: flex;
    padding: 20px;
}

.sports figcaption {
    position: sticky;
}
.sports img {
    height: 100px;
    width: auto;
}

/* CONTACT PAGE */

.contact-info {
    height: 500px;
    color: rgb(47, 179, 240);
}

.contact-info img {
    height: 400px;
    width: auto;
}

#main-ul {    
    justify-content: center;
    display: flex;
    padding: 20px;
}

figure figcaption {
    text-align: center;
}

.bio {
    text-align: left;
    position: static;
}

#name {
    font-size: 30px;
}

/* FOOTER */

footer {
    padding: 20px;
    background: grey;
    color: white;
    text-align: center;
}